          <div class="eqlx well">
          <%= e.text_field :san_ip, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::SanIp::HUMAN) %>
          <%= e.text_field :san_login, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::SanLogin::HUMAN) %>
          <%= e.text_field :san_password, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::SanPassword::HUMAN) %>
          <%= e.text_field :pool, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::EqlxPool::HUMAN) %>
          <%= e.text_field :group_name, class: "cinder_equallogic",
                     label:              _(Staypuft::Deployment::CinderService::EqlxGroupName::HUMAN) %>
          </div>
